<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produto</title>
    <link rel="stylesheet" href="../../../style.css">
</head>
<body class="font-serif">

    <!--HEAD-->
    <div class="bg-blue-900 flex justify-between items-center w-full p-2">
        <p class="ml-4 text-white uppercase font-semibold"><a href="../admHome.html">Cantina Tech</a></p>
        <button class="mr-4 bg-green-700 hover:bg-green-600 p-2 w-20 rounded-lg text-white font-semibold" id="logoutButton">Sair</button>
    </div>

    <section class="sm:pb-10 sm:px-24 md:px-44">

        <!--FORMULÁRIO-->
        <form class="border border-gray-400 bg-gray-100 w-80 m-auto mt-10 p-4 flex flex-col gap-y-4 sm:w-full" id="produtoForm" autocomplete="off">

            <div class="flex flex-col gap-y-2">

                <label for="cadastroTipoProduto">Classificação</label>
                <select name="cadastroTipoProduto" id="cadastroTipoProduto" class="border border-gray-500 rounded p-1">
                    <option value="estivas">Estivas</option>
                    <option value="proteina">Proteína</option>
                    <option value="hortifruti">Hortifruti</option>
                </select>
            </div>
            <div class="flex flex-col gap-y-2">
                <label for="cadastroGeneroProduto">Gênero</label>
                <input type="text" name="cadastroGeneroProduto" id="cadastroGeneroProduto" class="border border-gray-500 rounded p-1">
            </div>
            <div class="flex flex-col gap-y-2">
                <label for="cadastroMarcaProduto">Marca (opcional)</label>
                <input type="text" name="cadastroMarcaProduto" id="cadastroMarcaProduto" class="border border-gray-500 rounded p-1">
            </div>
            <div class="flex flex-col gap-y-2">
                <label for="opcoesUnidade">Unidade</label>
                <select name="opcoesUnidade" id="opcoesUnidade" class="border border-gray-500 rounded p-1">
                    <option value="kg">Kg</option>
                    <option value="litro">L</option>
                    <option id="opcaoEmbalagem" value="embalagem">Embalagem</option>
                </select>
            </div>

            <div class="flex flex-col gap-y-2">
                <label for="cadastroValidade">Validade</label>
                <input type="date" name="cadastroValidade" id="cadastroValidade" class="border border-gray-500 rounded p-1">
            </div>

            <button class="bg-green-800 w-fit m-auto p-3 rounded-md text-white font-medium hover:bg-green-700" type="submit" id="botaoCadastrarProduto">Cadastrar Produto</button>

            <a class="m-auto underline" href="../produtos/gerenciarProdutos.html">Voltar</a>
        </form>
    </section>

<script src="../../../assets/js/adm/produtos/cadastrarProdutos.js"></script>
</body>
</html>