<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Usuários</title>
    <link rel="stylesheet" href="../../../style.css">
</head>
<body class="font-serif bg-gray-100">

    <div class="bg-blue-900 flex justify-between items-center w-full p-2">
        <p class="ml-4 text-white uppercase font-semibold"><a href="../admHome.html">Cantina Tech</a></p>
        <button class="mr-4 bg-green-700 hover:bg-green-600 p-2 w-20 rounded-lg text-white font-semibold" id="logoutButton">Sair</button>
    </div>

    <section class="m-4 md:px-14">
        <!--Pesquisa-->
        <div class="md:w-fit md:m-auto">
            <input class="w-full p-1 border border-gray-700 md:w-80" type="text" id="searchInput" placeholder="Pesquisar">
        </div>

        <!-- Seleção de classificação de produto -->
    </section>

    <section class=" mx-4 mt-8 sm:pb-10">
        <div class="relative overflow-x-auto shadow-md  sm:mx-14 ">

            <table id="listaProdutos" class="bg-gray-50 w-full text-sm text-left border border-gray-400 rtl:text-right">
                <thead class="text-xs uppercase text-center bg-gray-300 sticky">
                    <tr>
                        <th id="tipoProduto" scope="colgroup" colspan="7" class="py-3 border-b border-gray-400">Acesso de usuários</th>
                    </tr>
                    <tr>
                        <th scope="col" class="py-2 px-3 border border-gray-400">Nº</th>
                        <th scope="col" class="px-3 border border-gray-400">Nome</th>
                        <th scope="col" class="px-3 border border-gray-400">CPF</th>
                        <th scope="col" class="px-3 border border-gray-400">Email</th>
                        <th scope="col" class="px-3 border border-gray-400">Acesso</th>
                        <th scope="col" class=" border-gray-400 border">Ações</th>
                        <th scope="col" class=" border-gray-400">Detalhes</th>
                    </tr>
                </thead>
                <tbody class="text-center text-base"></tbody>
            </table>
        </div>
    </section>

    <script src="../../../assets/js/adm/users/gerenciamentoUsuarios.js"></script>
    <script src="../../../assets/js/both/pesquisa.js"></script>
</body>
</html>