<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Cadastrada</title>
    <link rel="stylesheet" href="../../../style.css">
</head>
<body class="lista-adm font-serif bg-gray-100">

    <div class="bg-blue-900 flex justify-between items-center w-full p-2">
        <p class="ml-4 text-white uppercase font-semibold"><a href="../admHome.html">Cantina Tech</a></p>
        <button class="mr-4 bg-green-700 hover:bg-green-600 p-2 w-20 rounded-lg text-white font-semibold" id="logoutButton">Sair</button>
    </div>

    <div class="mt-2 w-96 m-auto">

        <h1 class="text-center text-xl font-bold uppercase mb-8" id="tituloLista">Listas Cadastradas - <span></span></h1>
            
        <!-- Listas serão inseridas aqui -->
        <div id="listasContainer">
            <!-- Listas cadastradas serão inseridas aqui dinamicamente -->
        </div>
        
    </div>
<script src="../../../assets/js/user/produtos/exibirLista.js"></script>
</body>
</html>